.contenedor-titulo {
    
    padding: 20px;
    text-align: center; /* Esto centrará el h1 dentro del div */
}

.titulo-con-fondo {
    background-color:floralwhite; /* Color de fondo azul oscuro */
    color:dodgerblue; /* Color del texto blanco para contraste */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Esquinas redondeadas */
    transition: border 0.5s ease-in-out; /* Transición suave para el borde */
    text-shadow: 2px 2px 4px #800080; /* Sombra de texto violeta */
    font-family: "Jaro", sans-serif;
}

.titulo-con-fondo:hover {
    border: 10px solid black; /* Borde negro al pasar el cursor */
}

.contenedor-texto {
    margin: 20px; /* Agrega espacio alrededor del contenedor */
    border: 2px solid #000; /* Borde negro para el contenedor */
    background-color: #e0f7fa; /* Color de fondo claro para el contenedor */
    padding: 20px; /* Espaciado interno para el contenedor */
    border-radius: 10px; /* Esquinas redondeadas para el contenedor */
}

.texto {
    font-family: "Josefin Sans", sans-serif;
    /* margin-bottom: 15px; */ /* Comentado o reducido si se desea menos espacio */
    padding: 10px; /* Espaciado interno para cada párrafo */
    border: 1px solid #000; /* Borde negro para cada párrafo */
    background-color: #b2ebf2; /* Color de fondo más oscuro para cada párrafo */
    border-radius: 5px; /* Esquinas redondeadas para cada párrafo */
    line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
    text-indent: 20px; /* Indentación para la primera línea del párrafo */
}

.video-container {
    text-align: center; /* Centra el iframe en el contenedor */
    padding: 10px; /* Espacio alrededor del iframe */
}

.video-estilo {
    border: 15px solid #000; /* Borde inicial negro */
    border-radius: 15px; /* Esquinas redondeadas */
    transition: border-color 0.5s ease; /* Transición suave del color del borde */
}

.video-estilo:hover {
    border-color: #ff0000 #00ff00 #0000ff #ff00ff; /* Cambio de colores del borde al pasar el cursor */
}

/* Estilo para el enlace de regreso al índice */
.enlace-indice {
    display: inline-block; /* Hace que el enlace sea un bloque en línea */
    padding: 10px 20px; /* Espaciado interno para hacerlo más grande */
    margin-top: 30px; /* Espacio arriba del enlace */
    background-color: #3498db; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.enlace-indice:hover {
    background-color: #2980b9; /* Color de fondo al pasar el cursor */
}